// @font-face {
//   font-family: "Ali";
//   src: url("./assets/typography/font_Ali/Ali.eot") format("eot");
//   src: url("./assets/typography/font_Ali/Ali.ttf") format("truetype"),
//     url("./assets/typography/font_Ali/Ali.svg") format("svg"),
//     url("./assets/typography/font_Ali/Ali.woff") format("woff"),
//     url("./assets/typography/font_Ali/Ali.woff2") format("woff2");
// }
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800;900&family=Monsieur+La+Doulaise&family=Sigmar+One&display=swap");
// Colours

$color-black: #000000;
$color-orange: #e8122f;
$color-orange-neon: #e11833;
$color-accent-yellow: #fff703;
$color-accent-blue: #0008ff;
$color-beige: #f2d9c1;

/* Neon Effect
  text-shadow: 0 0 7px $color-orange, 0 0 10px $color-orange,
    0 0 21px $color-orange, 0 0 42px $color-orange, 0 0 82px $color-orange,
    0 0 92px $color-orange, 0 0 102px $color-orange, 0 0 151px $color-orange;
*/

// Boilerplate

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
}
///
// Header
.landing-page {
  height: 100vh;
  width: 100vw; //! will change with media queries
  background: linear-gradient(to right, $color-black 70%, $color-orange 30%);
  background-position: top;
  // background-attachment: fixed;
}

// Margin
// Left: 8rem
// Right: 8 rem

a {
  text-decoration: none;
}

.header {
  height: 20vh;
  position: relative;
  line-height: 1rem;
  font-family: "Sigmar One", cursive;
  // font-size: 2rem;
}

.header__logo-box {
  position: absolute;
  top: 6rem;
  margin-left: 8rem;
  color: $color-accent-yellow;
  font-family: "Sigmar One", cursive;
  // text-shadow: 0.25rem 0 $color-orange, 0.5rem 0 $color-accent-blue;
  //! Text shadow to be added on hover
  //
}

a {
  text-decoration: none;
}

.header__ul--li--pages {
  color: $color-black;
}

.header__ul {
  position: absolute;
  top: 5rem;
  right: 4rem;
  display: flex;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

.header__socials {
  transform: translateY(-1rem);
  height: 3rem;
}

///
// Main-heading

.main {
  &__text-box {
    position: absolute;
    left: 5%;
    width: 50%;
  }
  &__heading-primary {
    margin-left: 5vw;
    &-intro {
      font-family: "Monsieur La Doulaise", cursive;
      color: $color-orange-neon;
      text-shadow: 0 0 7px $color-orange;
      font-size: 4.7rem;
      display: inline-block;
      transform: translate(2.2rem, 2rem);

      //! add glow flicker
    }
    &-main {
      display: block;
      font-weight: normal;
      font-size: 11.5rem;
      font-family: "Sigmar One", cursive;
      color: $color-accent-yellow;
      // text-shadow: 1rem 0 $color-orange;
      margin-left: 4vw;
      line-height: 0.82;
      letter-spacing: -5px;
    }
    &-sub {
      display: block;
      position: relative;
      margin-left: 15vw;
      font-weight: normal;
      font-size: 4.2rem;
      color: $color-beige;
      font-family: "Monsieur La Doulaise";
      line-height: 4.8rem;
    }
  }

  &__blurb {
    width: 30vw;
    display: block;
    position: absolute;
    font-weight: normal;
    color: $color-beige;
    bottom: 6%;
    margin-left: 8rem;
  }
}

//

//Profile Pic

.main__profile-pic {
  position: absolute;
  background-color: aliceblue;
  right: 20%;
  top: 30%;
  height: 40vh;
  width: 20vw;
}

//Animations
