@font-face {
  font-family: "Ali";
  src: url("./assets/typography/font_Ali/Ali.eot") format("eot");
  src: url("./assets/typography/font_Ali/Ali.ttf") format("truetype"),
    url("./assets/typography/font_Ali/Ali.svg") format("svg"),
    url("./assets/typography/font_Ali/Ali.woff") format("woff"),
    url("./assets/typography/font_Ali/Ali.woff2") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800;900&family=Monsieur+La+Doulaise&display=swap");

// Colours

$color-black: #000000;
$color-orange: #e8122f;
$color-orange-neon: #e11833;
$color-accent-yellow: #fff703;
$color-accent-blue: #0008ff;
$color-beige: #f2d9c1;

/* Neon Effect
  text-shadow: 0 0 7px $color-orange, 0 0 10px $color-orange,
    0 0 21px $color-orange, 0 0 42px $color-orange, 0 0 82px $color-orange,
    0 0 92px $color-orange, 0 0 102px $color-orange, 0 0 151px $color-orange;
*/

// Boilerplate

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
}
///
// Header
.landing-page {
  height: 100vh;
  width: 100vw; //! will change with media queries
  background: linear-gradient(to right, $color-black 70%, $color-orange 30%);
  background-position: top;
  // background-attachment: fixed;
}

a {
  text-decoration: none;
}

.header {
  height: 20vh;
  position: relative;
  line-height: 1rem;
}

.header__logo-box {
  position: absolute;
  top: 6rem;
  left: 8rem;
  color: $color-accent-yellow;
}

.header__socials {
  height: 4rem;
}

a {
  text-decoration: none;
}

.header__ul--li--pages {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-black;
  // letter-spacing: -0.2rem;
}

.header__ul {
  position: absolute;
  top: 5rem;
  right: 4rem;
  display: flex;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

.header__socials {
  transform: translateY(-1.8rem);
}

///
// Main-heading
.main__text-box {
  position: absolute;
  left: 5%;
  width: 50%;
}

.main {
  &__heading-primary-intro {
    font-family: "Monsieur La Doulaise", cursive;
    color: $color-orange-neon;
    // text-shadow: 0 0 7px $color-orange;
    font-size: 4.5rem;
    display: inline-block;
    transform: translate(2.2rem, 2rem);
  }
  &__heading-primary-main {
    display: block;
    font-weight: normal;
    font-size: 11.5rem;
    font-family: "Ali";
    color: $color-accent-yellow;
    text-shadow: 1rem 0 $color-orange, 2rem 0 $color-accent-blue;
    margin-left: 8vw;
    line-height: 0.9;
  }

  &__heading-primary-sub {
    display: block;
    position: relative;
    margin-left: 20vw;
    font-weight: normal;
    font-size: 2.2rem;
    color: $color-beige;
    letter-spacing: -1.5px;
  }

  &__blurb {
    &__blurb--header {
      color: $color-accent-yellow;
    }
    width: 40vw;
    display: block;
    position: absolute;
    left: 5%;
    font-weight: normal;
    // font-size: 1.8rem;
    color: $color-beige;
    bottom: 10%;
  }
}

//

//Profile Pic

.main__profile-pic {
  position: absolute;
  background-color: aliceblue;
  right: 22%;
  top: 30%;
  height: 30rem;
}

//Animations
